<!DOCTYPE html>
<html lang="en">
<head>
    
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="/general.css">
    <script>
        

    </script>
</head>
<body>
    
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="home"><img src="logoo.jpg" alt="website logo" class="logo-image"></a>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" style="width: 500px;" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button style="background-color:white;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="signin">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
      </ul>
    </div>
    
  
    
  </nav>


  <ul>
  <div class="container">
    {{#each data}}
    <li>{{this.Product_name}}</li>

    <div class="row">
      <div class="col-md-4 col-lg-3">
        <img src={{this.Product_image}} alt="Product Image" class="img-fluid">
      </div>
      <div class="col-md-8 col-lg-9">
        <h2>{{this.Product_name}}</h2>
        <h3>&#8377; {{this.Product_price}}</h3>
        <p>Product Description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
          Praesent libero. Sed cursus ante dapibus diam.</p>
        <form action="/order_item" method="POST">
          <input type="hidden" name="product_name" value="{{this.Product_name}}">
          <input type="hidden" name="product_price" value="{{this.Product_price}}">
          <input type="hidden" name="Seller_id" value="{{this.Seller_id}}">
          <input type="hidden" name="id_P" value="{{this.id_P}}">
          <button type="submit" class="btn btn-primary">Order</button>
        </form>
        {{#if message}}
        <p>{{message}}</p>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>
</ul>
  <h1>cart</h1>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script></body>
</html>